{% extends "main.html" %}
{% block header %}
	<p>What are you waiting for? </p>
	<button data-toggle="modal" data-target="#newPostModal" class="btn btn-default btn-lg">Make a New Post</button>
	<span class="log-position">You are Logged as <strong id="username">{{data.username}}</strong></span>
	<a href="/logout" class="logout">Log Out <span class="glyphicon glyphicon-share-alt"></span></a>
{% endblock %}

{% block main %}
	{% for post in data.posts %}
	     <div class="post-background">
		<strong id='a'>Autor: </strong>{{post.creator[1]}}
		 <a class="edit-pos" data-id="{{post.key().id()}}" data-creator="{{post.creator[1]}}" data-user="{{data.username}}" data-title="{{post.title}}"  data-content="{{post.content}}" data-creator-id="{{post.creator}}">  <span class="glyphicon glyphicon-pencil"></span> EDIT</a>
		 <p><span id="{{post.key().id()}}" class="error">You cant edit a post that's not yours</span></p>
		 <h1 id="post-title" >{{post.title}}</h1>
		 <pre class="small-margin post-content" >{{post.content}}</pre>
		 <div class="small-margin"><strong>{{post.likes|length}}</strong><a href="/?post_id={{post.key().id()}}&like=True"> <span class="glyphicon glyphicon-thumbs-up"></span> LIKE </a>
		 <a class="make-a-comment" data-id="{{post.key().id()}}" data-creator-id="{{post.creator[0]}}" data-creator="{{post.creator[1]}}" data-user="{{data.username}}">  {{post.comments|length}} <span class="glyphicon glyphicon-comment"></span> COMMENT</a><br></div>
		<p><span id="{{post.key().id()}}{{post.creator[1]}}" class="error">You can't comment you own post</span></p>
		<div class="small-margin post-comment">
		{% for comment in data.comments%}
			{% if comment.post  == post.key().id() %}
				<div class="comment-header"><h4>{{comment.creator}}</h4></div>
				<pre>{{comment.content}}</pre>
			{% endif %}
		{% endfor %}
		</div>
	     </div>
	{% endfor %}

<!-- MODAL TEMPLATES -->
<!-- Modal for comment -->
<div id="commentModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Write your comment</h4>
      </div>
      <div class="modal-body">
        <label><textarea id="comment-content" placeholder="Your comment goes here..."></textarea></label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveComment">Save comment</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal for newPost -->
<div id="newPostModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Write a New Post</h4>
      </div>
      <div class="modal-body">
	<form>
           <div class="form-group ">
		<label><input class="form-control" type="text" id="new-post-title" placeholder="Post Title"></label>
	   </div>
	   <div class="form-group">
	    	 <label><textarea id="post-content" class="form-control" placeholder="Write your amazing post here..."></textarea></label>
	   </div>
	</form>       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="savePost">Post it!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal for ediPost -->
<div id="editPostModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Write a New Post</h4>
      </div>
      <div class="modal-body">
	<form>
           <div class="form-group ">
		<label><input class="form-control" type="text" id="edit-post-title" placeholder="Post Title"></label>
	   </div>
	   <div class="form-group">
	    	 <label><textarea id="edit-post-content" class="form-control" placeholder="Write your amazing post here..."></textarea></label>
	   </div>
	</form>       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveEdits">Save Editions</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END OF MODAL TEMPLATES -->

<!-- JS Scripts -->
<script>
 $(document).ready(function(){
	$('.error').hide() //  assumes you have no error before triyng something
	$('.modal').on('show.bs.modal', function(e){  
		$('#savePost').click(function(){
			var content = $('#post-content').val();
			var title = $('#new-post-title').val();
			console.log(title);
			// $.ajax to send data to server
		        $.ajax({
				url: '/newpost',
				type: 'POST',
				dataType: 'json',
				data: JSON.stringify({
					'title': title,
					'content': content
					}),
				success: function(response){
	 		console.log(response);
			setTimeout("location.reload(true);", 500);
					window.location.href = '/'								
				},
				error: function(error){
				 console.log(error.responseText);					
				 setTimeout("location.reload(true);", 500); // verify why its going to error, even though the operation were sucessfull
					console.log(error)				
				}
			}); 
			// end of $.ajax post 
			$('#myModal').modal('hide');
		});	
	});
	$('.modal').on('hidden.bs.modal', function() {
	    $('#content').val('')
	}); 
	/* End of new post function 
	*/

	/* function for updating post
	*/
	  $('.edit-pos').click(function(){
		var id= $(this).data('id');
		var creator= $(this).data('creator');
		var creator_id= $(this).data('creator-id');
		console.log(creator_id)
		var user = $(this).data('user');
		if(creator==user){
			var title = $(this).data('title')
			var content = $(this).data('content')
			console.log(content, title)		
			$('#edit-post-content').val(content);
			$('#edit-post-title').val(title);
			$('#editPostModal').modal('show'); 
			$('#saveEdits').click(function(){
				var content = $('#edit-post-content').val();
				var title = $('#edit-post-title').val();
				console.log(content);
				// $.ajax to send data to server
				$.ajax({
					url: '/edit',
					type: 'POST',
					dataType: 'json',
					data: JSON.stringify({'post_id': id, 'title': title,
                                                              'content': content, 'creator': creator_id
					    		    }),
					success: function(response){
				 		setTimeout("location.reload(true);", 500);
						window.location.href = '/'
						console.log(response.responseText);				
						},
					error: function(error){
						setTimeout("location.reload(true);", 500); // verify why its going to error, even though the operation were sucessfull
						console.log(error.responseText)				
						}
					}); 
						// end of $.ajax post 
						$('#editPostModal').modal('hide');				
				});
		 }
		else{
			console.log('this post is not yours, jerk!')
			id = "#"+id;
			$(id).show();
		};
	   });

	/* end of updating post function
	*/

	/* function for new comment
	*/
	  $('.make-a-comment').click(function(){
		var id= $(this).data('id');
		var creator= $(this).data('creator');
		var user = $(this).data('user');
		if(creator!=user){
			$('#commentModal').modal('show'); 
			$('#saveComment').click(function(){
				var content = $('#comment-content').val();
				console.log(content);
				// $.ajax to send data to server
				$.ajax({
					url: '/comment',
					type: 'POST',
					dataType: 'json',
					data: JSON.stringify({'post_id': id, 
					'content': content
					    		    }),
					success: function(response){
				 		setTimeout("location.reload(true);", 500);
						window.location.href = '/'
						console.log(response.responseText);				
						},
					error: function(error){
						setTimeout("location.reload(true);", 500); // verify why its going to error, even though the operation were sucessfull
						console.log(error.responseText)				
						}
					}); 
						// end of $.ajax post 
						$('#commentModal').modal('hide');				
	     		});
	      }
	      else{
		 console.log('dont comment u own post!')
		 xd = "#" + id + creator;
		 console.log(xd);
		 $(xd).show();
		 
	      };		
	}); 
	/* End of update post functios
	*/	
 }); 
</script>
{% endblock %}
