{% extends "main.html" %}
{% block main %}
	<form method="post" action="http://localhost:8080/edit?id={{data.id}}">
	{{data.id}}
	  <label>Title
	     <input type="text" name="title" required value="{{data.title}}">
		{% if title %}
		 <span style="color: red;">Title cannot be empty</span>
		{% endif %}		
	  </label><br>
	 <label>Your Post
		<textarea name="postarea" >{{data.content}}</textarea>	
		{% if title %}
		 <span style="color: red;">Post cannot be empty</span>
		{% endif %}
	</label>
	  <button type="submit" >Send data</button>	
	</form>
{% endblock %}
